/*
	1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
		box-sizing: border-box;
	}
	/*
		2. Remove default margin
	*/
	* {
		margin: 0;
	}
	/*
		Typographic tweaks!
		3. Add accessible line-height
		4. Improve text rendering
	*/
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	/*
		5. Improve media defaults
	*/
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}
	/*
		6. Remove built-in form typography styles
	*/
	input, button, textarea, select {
		font: inherit;
	}
	/*
		7. Avoid text overflows
	*/
	p, h1, h2, h3, h4, h5, h6 {
		overflow-wrap: break-word;
	}
	/*
		8. Create a root stacking context
	*/
	#root, #__next {
		isolation: isolate;
	}

	/* * {
		outline: 1px solid red;
	} */

	html, body {
		height: 100%;
		font-family: Menlo,Roboto Mono,monospace;
		color: white;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.container {
		width: 100%;
		height: 100%;
		/* Add your background pattern here */
		background: rgba(29, 31, 32, 0.904);
			/* radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%); */
	
		background-size: 28px 28px;
	}
/* 	 */

	.inputbox {
		position: relative;
		width: 196px;
		margin: 40px;
	}
	
	.inputbox input {
		position: relative;
		width: 100%;
		padding: 20px 10px 10px;
		background: transparent;
		outline: none;
		box-shadow: none;
		border: none;
		color: #23242a;
		font-size: 1em;
		letter-spacing: 0.05em;
		transition: 0.5s;
		z-index: 10;
	}
	
	.inputbox span {
		position: absolute;
		left: 0;
		padding: 20px 10px 10px;
		font-size: 1em;
		color: #8f8f8f;
		letter-spacing: 00.05em;
		transition: 0.5s;
		pointer-events: none;
	}
	
	.inputbox input:valid ~span,
	.inputbox input:focus ~span {
		color: #45f3ff;
		transform: translateX(-10px) translateY(-34px);
		font-size: 0,75em;
	}
	
	.inputbox i {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: #45f3ff;
		border-radius: 4px;
		transition: 0.5s;
		pointer-events: none;
		z-index: 9;
	}
	
	.inputbox input:valid ~i,
	.inputbox input:focus ~i {
		height: 44px;
	}




	.ui-btn {
		--btn-default-bg: #222222;
		--btn-padding: 15px 20px;
		--btn-hover-bg: rgb(51, 51, 51);
		--btn-transition: .3s;
		--btn-letter-spacing: .1rem;
		--btn-animation-duration: 1.2s;
		--btn-shadow-color: rgba(0, 0, 0, 0.137);
		--btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
		--hover-btn-color: #45f3ff;
		--default-btn-color: #fff;
		--font-size: 16px;
		/* 👆 this field should not be empty */
		--font-weight: 600;
		--font-family: Menlo,Roboto Mono,monospace;
	}
	
	/* button settings 👆 */
	
	.ui-btn {
		box-sizing: border-box;
		padding: var(--btn-padding);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--default-btn-color);
		font: var(--font-weight) var(--font-size) var(--font-family);
		background: var(--btn-default-bg);
		cursor: pointer;
		transition: var(--btn-transition);
		overflow: hidden;
		box-shadow: var(--btn-shadow);
		border-radius: 10px;
		border: 2px solid #222222;
	}
	
	.ui-btn span {
		letter-spacing: var(--btn-letter-spacing);
		transition: var(--btn-transition);
		box-sizing: border-box;
		position: relative;
		background: inherit;
	}
	
	.ui-btn span::before {
		box-sizing: border-box;
		position: absolute;
		content: "";
		background: inherit;
	}
	
	.ui-btn:hover, .ui-btn:focus {
		background: var(--btn-default-bg);
		box-shadow: 0px 0px 10px 0px rgba(69, 243, 255, 0.70);
		border: 2px solid #45f3ff;
		;
	}
	
	.ui-btn:hover span, .ui-btn:focus span {
		color: var(--hover-btn-color);
	}
	
	.ui-btn:hover span::before, .ui-btn:focus span::before {
		animation: chitchat linear both var(--btn-animation-duration);
	}
	
	@keyframes chitchat {
		0% {
			content: "#";
		}
	
		5% {
			content: ".";
		}
	
		10% {
			content: "^{";
		}
	
		15% {
			content: "-!";
		}
	
		20% {
			content: "#$_";
		}
	
		25% {
			content: "№:0";
		}
	
		30% {
			content: "#{+.";
		}
	
		35% {
			content: "@}-?";
		}
	
		40% {
			content: "?{4@%";
		}
	
		45% {
			content: "=.,^!";
		}
	
		50% {
			content: "?2@%";
		}
	
		55% {
			content: "\;1}]";
		}
	
		60% {
			content: "?{%:%";
			right: 0;
		}
	
		65% {
			content: "|{f[4";
			right: 0;
		}
	
		70% {
			content: "{4%0%";
			right: 0;
		}
	
		75% {
			content: "'1_0<";
			right: 0;
		}
	
		80% {
			content: "{0%";
			right: 0;
		}
	
		85% {
			content: "]>'";
			right: 0;
		}
	
		90% {
			content: "4";
			right: 0;
		}
	
		95% {
			content: "2";
			right: 0;
		}
	
		100% {
			content: "";
			right: 0;
		}
	}
